{
  "overrides": [
    {
      "files": ["**/*.{ts,tsx}"],
      "extends": ["plugin:@typescript-eslint/recommended"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off"
      }
    }
  ],
  "settings": {
    "typescript": {
      "typeRoots": ["./node_modules/@types", "./src/types"]
    }
  }
}
